/* src/index.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  /* Propriedades para centralizar o card na tela */
  background-color: #f0f2f5; /* Um cinza bem claro para o fundo */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Garante que o body ocupe a altura toda da tela */
}